---
const { title, tagline, url, color, author } = Astro.props;
---

<div class="container">
  <div class="aura">
    <div class="aura-overlay"></div>
    <img src="/assets/img/aura_portal.webp" />
  </div>
  <div class="content">
    <div class="title">
      <a href={url}>{title}</a>
    </div>
    <p class="tagline">{tagline}</p>
    <p class="author">
      <span aria-hidden="true">//&nbsp;</span><a href={author.link}
        >{author.name}</a
      >
    </p>
  </div>
</div>

<style define:vars={{ "color-aura": color }}>
  .container {
    display: flex;
    flex-flow: row nowrap;

    gap: 1rem;
  }

  .aura {
    flex: 0;
    flex-basis: 2rem;
    height: 2rem;

    position: relative;
    border: 1px solid var(--color-fg);
  }

  .aura > * {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    transform: scale(2.75);
  }

  .aura > img {
    object-fit: cover;

    z-index: 0;
  }

  .aura-overlay {
    z-index: 1;

    background: radial-gradient(var(--color-aura) 0, transparent 75%);
    border-radius: 50%;
    mix-blend-mode: overlay;
  }

  .content {
    flex-grow: 1;
  }

  .title {
    font-family: "PP Migra", serif;
    font-style: italic;
    font-weight: 800;
    font-size: 1.5rem;

    margin-bottom: -0.5rem;
  }

  .tagline,
  .author {
    font-size: 0.75rem;

    margin: 0;
  }

  .author {
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
  }

  .author:hover,
  .author:focus {
    opacity: 1;
  }
</style>
