---
import Layout from "../Layout.astro";
import Header from "../../components/realms/Header.astro";

import realmData from "../../../data/realms.json";
import Aura from "../../components/realms/Aura.astro";

interface Props {
  pageTitle: string;
  realm: keyof typeof realmData;
}

const { pageTitle, realm } = Astro.props;
const { title, tagline, story, song } = realmData[realm];
---

<Layout title={pageTitle}>
  <main>
    <div class="return">
      <a href="../">return</a>
    </div>
    <Header title={title} tagline={tagline} />
    <article>
      <div class="story-container">
        <h2>Story</h2>
        <p>
          {story}
        </p>
      </div>
      <div class="song-container">
        <h2>Chosen Song</h2>
        <div>
          <a href={song.link}>{song.name}</a>
        </div>
      </div>
    </article>
    <section>
      <div>
        <slot />
      </div>
    </section>
    <Aura />
  </main>
</Layout>

<style>
  :root {
    --color-fg: black;
    --color-bg: white;
  }

  html,
  body {
    height: 100%;
  }

  body {
    background: var(--color-bg);
    color: var(--color-fg);

    display: flex;
    flex-direction: column;
  }

  main {
    flex-grow: 1;

    display: grid;
    gap: 0.5rem;
    grid-template-columns: min-content auto;
    grid-template-rows: min-content min-content auto;

    max-width: 100vw;
    max-height: 100vh;
  }

  article {
    grid-area: 2 / 2 / span 1 / -1;

    display: grid;
    grid-template-columns: auto;

    max-width: 66ch;

    padding: 1rem;
  }

  h2 {
    font-family: "Crimson Pro", serif;
    font-style: normal;
    font-size: 0.75rem;
    text-transform: uppercase;

    margin: 0;
  }

  .story-container p {
    margin-bottom: 1rem;

    font-family: "PP Migra", "Crimson Pro", serif;
    font-style: italic;
  }

  .return {
    grid-area: 1 / 1 / span 1 / span 1;

    align-self: flex-end;
    justify-self: flex-end;

    margin-bottom: calc(1.75rem + 1ch);
  }

  a {
    text-decoration: underline;
    text-transform: none;
  }

  section {
    grid-area: 3 / 1 / 4 / -1;

    padding: 1rem;
  }

  section > div {
    border: 1px solid var(--color-fg);

    width: 100%;
    height: 100%;
  }

  p {
    margin: 0;
  }

  @media screen and (min-width: 350px) {
    main {
      margin: 0.5rem;
    }
  }

  @media screen and (min-width: 768px) {
    main {
      margin: 1rem;
    }

    article {
      grid-template-columns: auto auto;
      gap: 1.5rem;
    }
  }

  @media screen and (min-width: 768px) {
    main {
      margin: 2rem;
    }
  }
</style>
