---
import Layout from "../Layout.astro";
import Header from "../../components/realms/Header.astro";

import realmData from "../../../data/realms.json";
import Aura from "../../components/realms/Aura.astro";
import Story from "../../components/realms/Story.astro";

interface Props {
  pageTitle: string;
  realm: keyof typeof realmData;
}

const { pageTitle, realm } = Astro.props;
const { title, tagline, story, song } = realmData[realm];
---

<Layout title={pageTitle}>
  <div class="wrapper">
    <main>
      <div class="return">
        <a href="../">return</a>
      </div>
      <Header title={title} tagline={tagline} />
      <Story story={story} song={song} />
      <section>
        <div>
          <slot />
        </div>
      </section>
      <Aura />
    </main>
  </div>
</Layout>

<style>
  :root {
    --color-fg: black;
    --color-bg: white;
  }

  html,
  body {
    height: 100%;
  }

  body {
    background: var(--color-bg);
    color: var(--color-fg);

    display: flex;
    flex-direction: column;
  }

  .wrapper {
    margin: auto;

    flex-grow: 1;

    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 48rem;
  }

  main {
    flex-grow: 1;

    display: grid;
    gap: 0.5rem;
    grid-template-columns: min-content auto;
    grid-template-rows: min-content min-content auto;

    max-height: 100vh;
  }

  :global(a) {
    text-decoration: underline;
    text-transform: none;
  }

  :global(p) {
    margin: 0;
  }

  .return {
    grid-area: 1 / 1 / span 1 / span 1;

    align-self: flex-end;
    justify-self: flex-end;

    margin-bottom: calc(1.75rem + 1ch);
  }

  section {
    grid-area: 3 / 1 / 4 / -1;

    padding: 1rem;
  }

  section > div {
    border: 1px solid var(--color-fg);

    width: 100%;
    height: 100%;
  }

  @media screen and (min-width: 350px) {
    main {
      margin: 0.5rem;
    }
  }

  @media screen and (min-width: 768px) {
    main {
      margin: 1rem;
    }
  }
</style>
